# Contents:

I. [Loading the Data:](#Loading-the-Data:)

II. [Helper functions to prepare the data:](#Helper-functions-to-prepare-the-data:)

III. [Test Inference:](#Test-Inference:)

## Loading the Data:

([Contents:](#Contents:))

In [21]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

import matplotlib.pyplot as plt
import seaborn as sns

import os
import time 
import re

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn import metrics

from scipy import stats

import requests
import pickle
import joblib

import re
from wordcloud import WordCloud
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from collections import Counter

import warnings
warnings.filterwarnings('ignore')

## Helper functions to prepare the data:

([Contents:](#Contents:))

In [27]:
# average propery area (feature cleaning)
def avg_property_area(x):
    numbers = re.compile(r"[-+]?(\d*\.\d+|\d+)") 
    x = numbers.findall(x)
    if len(x) == 1:
        return np.float(x[0])
    elif len(x) == 2:
        return (np.float(x[0])+np.float(x[1]))/2
    else:
        return -99
    
# Outlier treatment
def clip_outliers(df,col):
    q_l = df[col].quantile(0.25)
    q_h = df[col].quantile(0.95)
    df[col] = df[col].clip(lower = q_l, upper = q_h)
    return df    

# Text cleaning
# Preprocessing the text data
REPLACE_BY_SPACE_RE = re.compile("[/(){}\[\]\|@,;!]")
BAD_SYMBOLS_RE = re.compile("[^0-9a-z #+_]")
STOPWORDS_nlp = set(stopwords.words('english'))

#Custom Stoplist
stoplist = ["i","project","living","home",'apartment',"pune","me","my","myself","we","our","ours","ourselves","you","you're","you've","you'll","you'd","your",
            "yours","yourself","yourselves","he","him","his","himself","she","she's","her","hers","herself","it",
            "it's","its","itself","they","them","their","theirs","themselves","what","which","who","whom","this","that","that'll",
            "these","those","am","is","are","was","were","be","been","being","have","has","had","having","do","does","did",
            "doing","a","an","the","and","but","if","or","because","as","until","while","of","at","by","for","with","about",
            "against","between","into","through","during","before","after","above","below","to","from","up","down","in","out",
            "on","off","over","under","again","further","then","once","here","there","when","where","why","all","any",
            "both","each","few","more","most","other","some","such","no","nor","not","only","own","same","so","than","too",
            "very","s","t","can","will","just","don","don't","should","should've","now","d","ll","m","o","re","ve","y","ain",
            "aren","couldn","didn","doesn","hadn","hasn",
            "haven","isn","ma","mightn","mustn","needn","shan","shan't",
            "shouldn","wasn","weren","won","rt","rt","qt","for",
            "the","with","in","of","and","its","it","this","i","have","has","would","could","you","a","an",
            "be","am","can","edushopper","will","to","on","is","by","ive","im","your","we","are","at","as","any","ebay","thank","hello","know",
            "need","want","look","hi","sorry","http", "https","body","dear","hello","hi","thanks","sir","tomorrow","sent","send","see","there","welcome","what","well","us"]

STOPWORDS_nlp.update(stoplist)

# Function to preprocess the text
def text_prepare(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = text.replace("\d+"," ") # removing digits
    text = re.sub(r"(?:\@|https?\://)\S+", "", text) #removing mentions and urls
    text = text.lower() # lowercase text
    text =  re.sub('[0-9]+', '', text)
    text = REPLACE_BY_SPACE_RE.sub(" ", text) # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = BAD_SYMBOLS_RE.sub(" ", text) # delete symbols which are in BAD_SYMBOLS_RE from text
    text = ' '.join([word for word in text.split() if word not in STOPWORDS_nlp]) # delete stopwors from text
    text = text.strip()
    return text

# Pos counter
def pos_counter(x,pos):
    """
    Returns the count for the given parts of speech tag
    
    NN - Noun
    VB - Verb
    JJ - Adjective
    RB - Adverb
    """
    tokens = nltk.word_tokenize(x.lower())
    tokens = [word for word in tokens if word not in STOPWORDS_nlp]
    text = nltk.Text(tokens)
    tags = nltk.pos_tag(text)
    counts = Counter(tag for word,tag in tags)
    return counts[pos]

In [35]:
def preprocess(df):
    # Extracting State and Country separately from the Location Column
    df['City'] = df['Location'].apply(lambda x: x.split(',')[0].lower().strip())
    df['State'] = df['Location'].apply(lambda x: x.split(',')[1].lower().strip())
    df['Country'] = df['Location'].apply(lambda x: x.split(',')[2].lower().strip())
    
    # Regex to match the numbers and create a separate column
    numbers = re.compile(r"[-+]?(\d*\.\d+|\d+)") 
    df['Property Type Cleaned'] = df['Propert Type'].apply(lambda x: numbers.findall(x)[0] 
                                                           if len(numbers.findall(x)) > 0 else 0)
    
    # Cleaning the text columns
    df['Sub-Area Cleaned'] = df['Sub-Area'].apply(lambda x: x.lower().strip())
    df['Company Name Cleaned'] = df['Company Name'].apply(lambda x: x.lower().strip())
    df['TownShip Name/ Society Name Cleaned'] = df['TownShip Name/ Society Name'].apply(lambda x: x.lower().strip())
    df['Description Cleaned'] = df['Description'].apply(lambda x: x.lower().strip())
    
    
    # Cleaning and encoding Binary Features
    df['ClubHouse Cleaned'] = (df['ClubHouse'].apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['School / University in Township Cleaned'] = (df['School / University in Township ']
                                                         .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Hospital in TownShip Cleaned'] = (df['Hospital in TownShip']
                                                         .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Mall in TownShip Cleaned'] = (df['Mall in TownShip']
                                                         .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Park / Jogging track Cleaned'] = (df['Park / Jogging track']
                                                         .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Swimming Pool Cleaned'] = (df['Swimming Pool']
                                                     .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Gym Cleaned'] = (df['Gym']
                                 .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0})) 
    
    

    # Cleaning numerical columns
    numbers = re.compile(r"[-+]?(\d*\.\d+|\d+)")     
    df['Property Area in Sq. Ft. Cleaned'] = df['Property Area in Sq. Ft.'].apply(lambda x: avg_property_area(str(x)))
#     df['Price in lakhs Cleaned'] = (df['Price in lakhs'].apply(lambda x: np.float(numbers.findall(str(x))[0]) 
#                                                                if len(numbers.findall(str(x)))>0 else np.nan ))
    
    # Selecting the requried columns
    features = df.columns.tolist()[18:]
    df1 = df[features]
    df_final = df1.dropna()
    
    return df_final

In [46]:
def create_features(df):
    # outlier treatment
    # Treating outliers in the numeric columns
    cols_to_treat = ['Property Area in Sq. Ft. Cleaned']
    
    for col in cols_to_treat:
        df = clip_outliers(df,col)
    
    # creating the price by sub-area feature
    fileName = '../model/sub_area_price_map.pkl'
    with open(fileName,'rb') as f:
        sub_area_price_map = pickle.load(f)    
    df['Price by sub-area'] =  df['Sub-Area Cleaned'].map(sub_area_price_map)
    
    # Adding the amenitites score feature
    amenities_col = ['ClubHouse Cleaned',
                     'School / University in Township Cleaned',
                     'Hospital in TownShip Cleaned',
                     'Mall in TownShip Cleaned',
                     'Park / Jogging track Cleaned',
                     'Swimming Pool Cleaned',
                     'Gym Cleaned']
    temp = df[amenities_col]
    temp['Amenities score'] = temp.sum(axis=1)
    df['Amenities score'] = temp['Amenities score']
    
    # creating the price by amenities score feature
    fileName = '../model/amenities_score_price_map.pkl'
    with open(fileName,'rb') as f:
        amenities_score_price_map = pickle.load(f)  
        
    df['Price by Amenities score'] =  df['Amenities score'].map(amenities_score_price_map)
    
    # cleaning the description column and creating pos features
    df["Description Cleaned"] =  df["Description Cleaned"].astype(str).apply(text_prepare)
    df['Noun_Counts'] = df['Description Cleaned'].apply(lambda x: pos_counter(x,'NN'))
    df['Verb_Counts'] = df['Description Cleaned'].apply(lambda x: (pos_counter(x,'VB')+pos_counter(x,'RB')))
    df['Adjective_Counts'] = df['Description Cleaned'].apply(lambda x: pos_counter(x,'JJ'))
    
    # Ngram features
    fileName = '../model/count_vectorizer.pkl'
    with open(fileName,'rb') as f:
        cv_object = pickle.load(f)
    
    X = cv_object.transform(df['Description Cleaned'])
    df_ngram = pd.DataFrame(X.toarray(),columns=cv_object.get_feature_names())
    
    # Adding this to the main dataframe
    df_final = pd.concat([df.reset_index(drop=True),df_ngram.reset_index(drop=True)],axis=1)
    
    # selecting the final model ready features
    fileName = '../model/raw_features_mapping.pkl'
    with open(fileName,'rb') as f:
        feature_mapping = pickle.load(f)   
        
    fileName = '../model/features.pkl'
    with open(fileName,'rb') as f:
        feature_list = pickle.load(f)           
    
    # Removing price column as it is not available in test data
    feature_list.remove('Price_in_lakhs')

    df_final = df_final.rename(columns=feature_mapping)
    df_final = df_final[feature_list]
    
    return df_final

## Test Inference:

([Contents:](#Contents:))

In [47]:
# Loading the data
data= pd.read_excel(r'../data/Pune Real Estate Data.xlsx')
data = data.drop(['Price in Millions','Price in lakhs'],axis=1)
print(data.shape)
data.head()

(200, 16)

,Sr. No.,Location,Sub-Area,Propert Type,Property Area in Sq. Ft.,Company Name,TownShip Name/ Society Name,Total TownShip Area in Acres,ClubHouse,School / University in Township,Hospital in TownShip,Mall in TownShip,Park / Jogging track,Swimming Pool,Gym,Description
0,1,"Pune, Maharashtra, India",Bavdhan,1 BHK,492,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Shapoorji Paloonji comunity located in the sub...
1,2,"Pune, Maharashtra, India",Bavdhan,2 BHK,774,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Vanaha Township located near the lonavala hill...
2,3,"Pune, Maharashtra, India",Bavdhan,3 BHK,889,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Vanaha Society is suitable for all aged group ...
3,4,"Pune, Maharashtra, India",Bavdhan,3 BHK Grand,1018,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Vanaha township are offering 3BHK grand prpoer...
4,5,"Pune, Maharashtra, India",Mahalunge,2BHK,743,Godrej Properties,Godrej Hills retreat,100.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,The area is a hub of prestigious schools like ...

In [48]:
df_preprocess = preprocess(data)

In [49]:
print(df_preprocess.shape)
df_preprocess.head()

(200, 14)

,Country,Property Type Cleaned,Sub-Area Cleaned,Company Name Cleaned,TownShip Name/ Society Name Cleaned,Description Cleaned,ClubHouse Cleaned,School / University in Township Cleaned,Hospital in TownShip Cleaned,Mall in TownShip Cleaned,Park / Jogging track Cleaned,Swimming Pool Cleaned,Gym Cleaned,Property Area in Sq. Ft. Cleaned
0,india,1,bavdhan,shapoorji paloonji,vanaha,shapoorji paloonji comunity located in the sub...,1,1,1,1,1,1,1,492.0
1,india,2,bavdhan,shapoorji paloonji,vanaha,vanaha township located near the lonavala hill...,1,1,1,1,1,1,1,774.0
2,india,3,bavdhan,shapoorji paloonji,vanaha,vanaha society is suitable for all aged group ...,1,1,1,1,1,1,1,889.0
3,india,3,bavdhan,shapoorji paloonji,vanaha,vanaha township are offering 3bhk grand prpoer...,1,1,1,1,1,1,1,1018.0
4,india,2,mahalunge,godrej properties,godrej hills retreat,the area is a hub of prestigious schools like ...,1,1,1,1,1,1,1,743.0

In [50]:
df_features = create_features(df_preprocess)

In [51]:
print(df_features.shape)
df_features.head()

(200, 25)

,PropertyType,ClubHouse,School_University_in_Township,Hospital_in_TownShip,Mall_in_TownShip,Park_Jogging_track,Swimming_Pool,Gym,Property_Area_in_Sq_Ft,Price_by_sub_area,Amenities_score,Price_by_Amenities_score,Noun_Counts,Verb_Counts,Adjective_Counts,boasts_elegant,elegant_towers,every_day,great_community,mantra_gold,offering_bedroom,quality_specification,stories_offering,towers_stories,world_class
0,1,1,1,1,1,1,1,1,670.0,62.897000,7,74.75,9,1,3,0,0,0,0,0,0,0,0,0,0
1,2,1,1,1,1,1,1,1,774.0,62.897000,7,74.75,9,1,3,0,0,0,0,0,0,0,0,0,0
2,3,1,1,1,1,1,1,1,889.0,62.897000,7,74.75,9,1,3,0,0,0,0,0,0,0,0,0,0
3,3,1,1,1,1,1,1,1,1018.0,62.897000,7,74.75,8,1,3,0,0,0,0,0,0,0,0,0,0
4,2,1,1,1,1,1,1,1,743.0,74.833333,7,74.75,12,1,6,0,0,0,0,0,0,0,0,0,0

In [53]:
columns = df_features.columns.tolist()
columns[:5]

['PropertyType',
 'ClubHouse',
 'School_University_in_Township',
 'Hospital_in_TownShip',
 'Mall_in_TownShip']

In [86]:
payload = df_features.iloc[3].to_dict()
print(payload)

import json
payload = json.dumps(payload)

{'PropertyType': '3', 'ClubHouse': 1, 'School_University_in_Township': 1, 'Hospital_in_TownShip': 1, 'Mall_in_TownShip': 1, 'Park_Jogging_track': 1, 'Swimming_Pool': 1, 'Gym': 1, 'Property_Area_in_Sq_Ft': 1018.0, 'Price_by_sub_area': 62.897000000000006, 'Amenities_score': 7, 'Price_by_Amenities_score': 74.75, 'Noun_Counts': 8, 'Verb_Counts': 1, 'Adjective_Counts': 3, 'boasts_elegant': 0, 'elegant_towers': 0, 'every_day': 0, 'great_community': 0, 'mantra_gold': 0, 'offering_bedroom': 0, 'quality_specification': 0, 'stories_offering': 0, 'towers_stories': 0, 'world_class': 0}

In [110]:
output = []
for i in range(len(df_features)):
    payload = df_features.iloc[i].to_dict()
    payload = json.dumps(payload)
    
    out =  requests.post(url='https://property-price-prediction-app.herokuapp.com/predict',
                    data=payload)
    result = np.float(re.sub('[^A-Za-z0-9.]+', '', out.text))  
    output.append(result)

In [111]:
output

[44.77900864,
 60.75082905,
 77.63054503,
 88.59450399,
 68.29575473,
 86.10344868,
 78.68262547,
 109.18077509,
 80.23547714,
 111.41840094,
 160.95096668,
 178.64397166,
 175.47243933,
 83.32883044,
 119.14586582,
 51.81301938,
 59.53254815,
 80.6297288,
 54.17432718,
 71.70553987,
 76.5789827,
 105.80985257,
 40.51790818,
 64.18991683,
 54.12463732,
 58.49948514,
 69.50570177,
 90.52981266,
 73.33653755,
 75.97724645,
 85.6330319,
 86.97679996,
 105.79071814,
 104.82435414,
 117.88224629,
 62.7569409,
 107.20881387,
 86.22408774,
 120.30530477,
 45.56834961,
 77.58699265,
 146.84813507,
 44.96393947,
 51.45696805,
 55.94604927,
 85.45317282,
 88.34909934,
 116.24015756,
 110.07691484,
 124.25883382,
 169.33903685,
 44.19244513,
 54.39259617,
 58.11996234,
 67.91840239,
 62.8436196,
 49.74043759,
 60.17582075,
 66.00799759,
 58.60862127,
 88.57763104,
 44.11066473,
 54.97192943,
 72.78180728,
 69.49785871,
 91.01642265,
 81.93510505,
 199.04462582,
 207.06634611,
 73.64443114,
 77.208772,
 70.07847044,
 73.38380591,
 103.4401707,
 100.07074879,
 51.66767375,
 61.03197179,
 67.79833978,
 102.74783383,
 72.51985851,
 94.36167685,
 102.13553177,
 41.12506334,
 45.46102195,
 61.94297226,
 130.52973362,
 106.22607524,
 59.7527747,
 57.09014004,
 56.94826079,
 55.71749762,
 57.93049403,
 148.95848461,
 152.9235517,
 160.02984268,
 173.65944316,
 186.00039418,
 187.27829472,
 63.65326864,
 81.47056239,
 88.40542722,
 89.84881686,
 115.73954346,
 119.54391581,
 134.91463132,
 128.80990756,
 53.9331424,
 57.25135991,
 45.68151317,
 53.70323346,
 52.94151841,
 51.4128267,
 52.17717256,
 71.25099356,
 100.92344035,
 101.1103206,
 106.06731778,
 134.13151092,
 145.13030957,
 70.86182417,
 90.68372974,
 79.67120411,
 93.15225786,
 74.89235776,
 72.34484032,
 76.79525441,
 102.76947661,
 127.42464489,
 157.95230669,
 73.19752219,
 70.89898722,
 169.3822749,
 56.49181479,
 58.61718793,
 66.28742655,
 96.05026249,
 92.66109724,
 104.2437017,
 133.00244009,
 128.55663384,
 136.78625057,
 57.67536795,
 66.32813561,
 69.35877351,
 90.04396676,
 115.79623095,
 72.10213311,
 74.75401528,
 82.49271753,
 62.90764637,
 62.66349364,
 52.08925247,
 54.65952072,
 79.85354003,
 81.92465719,
 45.10053811,
 50.15460332,
 63.90163049,
 94.28714944,
 100.02034971,
 100.85406002,
 47.73968981,
 60.31717617,
 46.00176537,
 53.99709813,
 79.2533215,
 83.34360299,
 188.83041068,
 200.23637725,
 63.23254235,
 85.58843024,
 72.33546503,
 101.4038619,
 65.86553716,
 49.50124153,
 45.94355503,
 48.37521418,
 46.97722845,
 58.53200277,
 67.04003476,
 73.66539994,
 72.51112508,
 147.8533037,
 182.21617737,
 190.29330563,
 46.11603487,
 45.71912976,
 47.51138979,
 59.6836569,
 55.79452204,
 49.87376159,
 45.28075941,
 45.93245282,
 96.38890683,
 128.88948645,
 149.94825192,
 176.41958459,
 94.57781916,
 133.36874992,
 101.79433794]

In [59]:
# data= pd.read_excel(r'../data/Pune Real Estate Data.xlsx')
# data.head()

In [120]:
def get_prediction_interval(interval_estimate, prediction):
    '''
    Get a prediction interval for a linear regression model.
    
    INPUTS: 
        - interval_estimate based on the final model's performance on the training data 
        - predicted values for the test data,
        - Prediction interval threshold (default = .95) 
    OUTPUT: 
        - Prediction interval for single test prediction
    '''
    
    #generate prediction interval lower and upper bound cs_24
    lower, upper = prediction - interval_estimate, prediction + interval_estimate
    return lower, upper

In [125]:
import pickle
fileName = '../model/interval_est.pkl'
with open(fileName,'rb') as f:
    interval = pickle.load(f)

interval

31.82683446043292

In [126]:
# getting prediction intervals for the test data
lower_vet = []
upper_vet = []

for out in output:
    lower, upper =  get_prediction_interval(interval,out)
    lower_vet.append(lower)
    upper_vet.append(upper)

In [127]:
pd.DataFrame(zip(lower_vet,upper_vet,output),columns=['lower','upper','mean'])

          lower       upper        mean
0     12.952174   76.605843   44.779009
1     28.923995   92.577664   60.750829
2     45.803711  109.457379   77.630545
3     56.767670  120.421338   88.594504
4     36.468920  100.122589   68.295755
5     54.276614  117.930283   86.103449
6     46.855791  110.509460   78.682625
7     77.353941  141.007610  109.180775
8     48.408643  112.062312   80.235477
9     79.591566  143.245235  111.418401
10   129.124132  192.777801  160.950967
11   146.817137  210.470806  178.643972
12   143.645605  207.299274  175.472439
13    51.501996  115.155665   83.328830
14    87.319031  150.972700  119.145866
15    19.986185   83.639854   51.813019
16    27.705714   91.359383   59.532548
17    48.802894  112.456563   80.629729
18    22.347493   86.001162   54.174327
19    39.878705  103.532374   71.705540
20    44.752148  108.405817   76.578983
21    73.983018  137.636687  105.809853
22     8.691074   72.344743   40.517908
23    32.363082   96.016751   64.189917
24    22.297803   85.951472   54.124637
25    26.672651   90.326320   58.499485
26    37.678867  101.332536   69.505702
27    58.702978  122.356647   90.529813
28    41.509703  105.163372   73.336538
29    44.150412  107.804081   75.977246
30    53.806197  117.459866   85.633032
31    55.149965  118.803634   86.976800
32    73.963884  137.617553  105.790718
33    72.997520  136.651189  104.824354
34    86.055412  149.709081  117.882246
35    30.930106   94.583775   62.756941
36    75.381979  139.035648  107.208814
37    54.397253  118.050922   86.224088
38    88.478470  152.132139  120.305305
39    13.741515   77.395184   45.568350
40    45.760158  109.413827   77.586993
41   115.021301  178.674970  146.848135
42    13.137105   76.790774   44.963939
43    19.630134   83.283803   51.456968
44    24.119215   87.772884   55.946049
45    53.626338  117.280007   85.453173
46    56.522265  120.175934   88.349099
47    84.413323  148.066992  116.240158
48    78.250080  141.903749  110.076915
49    92.431999  156.085668  124.258834
50   137.512202  201.165871  169.339037
51    12.365611   76.019280   44.192445
52    22.565762   86.219431   54.392596
53    26.293128   89.946797   58.119962
54    36.091568   99.745237   67.918402
55    31.016785   94.670454   62.843620
56    17.913603   81.567272   49.740438
57    28.348986   92.002655   60.175821
58    34.181163   97.834832   66.007998
59    26.781787   90.435456   58.608621
60    56.750797  120.404466   88.577631
61    12.283830   75.937499   44.110665
62    23.145095   86.798764   54.971929
63    40.954973  104.608642   72.781807
64    37.671024  101.324693   69.497859
65    59.189588  122.843257   91.016423
66    50.108271  113.761940   81.935105
67   167.217791  230.871460  199.044626
68   175.239512  238.893181  207.066346
69    41.817597  105.471266   73.644431
70    45.381938  109.035606   77.208772
71    38.251636  101.905305   70.078470
72    41.556971  105.210640   73.383806
73    71.613336  135.267005  103.440171
74    68.243914  131.897583  100.070749
75    19.840839   83.494508   51.667674
76    29.205137   92.858806   61.031972
77    35.971505   99.625174   67.798340
78    70.920999  134.574668  102.747834
79    40.693024  104.346693   72.519859
80    62.534842  126.188511   94.361677
81    70.308697  133.962366  102.135532
82     9.298229   72.951898   41.125063
83    13.634187   77.287856   45.461022
84    30.116138   93.769807   61.942972
85    98.702899  162.356568  130.529734
86    74.399241  138.052910  106.226075
87    27.925940   91.579609   59.752775
88    25.263306   88.916975   57.090140
89    25.121426   88.775095   56.948261
90    23.890663   87.544332   55.717498
91    26.103660   89.757328   57.930494
92   117.131650  180.785319  148.958485
93   121.096717  184.750386  152.923552
94   128.203008  191.856677  160.029843
95   141.832609  205.486278  173.659443
96   154.173560  217.827229  186.000394
97   155.451460  219.105129  187.278295
98    31.826434   95.480103   63.653269
99    49.643728  113.297397   81.470562
100   56.578593  120.232262   88.405427
101   58.021982  121.675651   89.848817
102   83.912709  147.566378  115.739543
103   87.717081  151.370750  119.543916
104  103.087797  166.741466  134.914631
105   96.983073  160.636742  128.809908
106   22.106308   85.759977   53.933142
107   25.424525   89.078194   57.251360
108   13.854679   77.508348   45.681513
109   21.876399   85.530068   53.703233
110   21.114684   84.768353   52.941518
111   19.585992   83.239661   51.412827
112   20.350338   84.004007   52.177173
113   39.424159  103.077828   71.250994
114   69.096606  132.750275  100.923440
115   69.283486  132.937155  101.110321
116   74.240483  137.894152  106.067318
117  102.304676  165.958345  134.131511
118  113.303475  176.957144  145.130310
119   39.034990  102.688659   70.861824
120   58.856895  122.510564   90.683730
121   47.844370  111.498039   79.671204
122   61.325423  124.979092   93.152258
123   43.065523  106.719192   74.892358
124   40.518006  104.171675   72.344840
125   44.968420  108.622089   76.795254
126   70.942642  134.596311  102.769477
127   95.597810  159.251479  127.424645
128  126.125472  189.779141  157.952307
129   41.370688  105.024357   73.197522
130   39.072153  102.725822   70.898987
131  137.555440  201.209109  169.382275
132   24.664980   88.318649   56.491815
133   26.790353   90.444022   58.617188
134   34.460592   98.114261   66.287427
135   64.223428  127.877097   96.050262
136   60.834263  124.487932   92.661097
137   72.416867  136.070536  104.243702
138  101.175606  164.829275  133.002440
139   96.729799  160.383468  128.556634
140  104.959416  168.613085  136.786251
141   25.848533   89.502202   57.675368
142   34.501301   98.154970   66.328136
143   37.531939  101.185608   69.358774
144   58.217132  121.870801   90.043967
145   83.969396  147.623065  115.796231
146   40.275299  103.928968   72.102133
147   42.927181  106.580850   74.754015
148   50.665883  114.319552   82.492718
149   31.080812   94.734481   62.907646
150   30.836659   94.490328   62.663494
151   20.262418   83.916087   52.089252
152   22.832686   86.486355   54.659521
153   48.026706  111.680374   79.853540
154   50.097823  113.751492   81.924657
155   13.273704   76.927373   45.100538
156   18.327769   81.981438   50.154603
157   32.074796   95.728465   63.901630
158   62.460315  126.113984   94.287149
159   68.193515  131.847184  100.020350
160   69.027226  132.680894  100.854060
161   15.912855   79.566524   47.739690
162   28.490342   92.144011   60.317176
163   14.174931   77.828600   46.001765
164   22.170264   85.823933   53.997098
165   47.426487  111.080156   79.253321
166   51.516769  115.170437   83.343603
167  157.003576  220.657245  188.830411
168  168.409543  232.063212  200.236377
169   31.405708   95.059377   63.232542
170   53.761596  117.415265   85.588430
171   40.508631  104.162299   72.335465
172   69.577027  133.230696  101.403862
173   34.038703   97.692372   65.865537
174   17.674407   81.328076   49.501242
175   14.116721   77.770389   45.943555
176   16.548380   80.202049   48.375214
177   15.150394   78.804063   46.977228
178   26.705168   90.358837   58.532003
179   35.213200   98.866869   67.040035
180   41.838565  105.492234   73.665400
181   40.684291  104.337960   72.511125
182  116.026469  179.680138  147.853304
183  150.389343  214.043012  182.216177
184  158.466471  222.120140  190.293306
185   14.289200   77.942869   46.116035
186   13.892295   77.545964   45.719130
187   15.684555   79.338224   47.511390
188   27.856822   91.510491   59.683657
189   23.967688   87.621357   55.794522
190   18.046927   81.700596   49.873762
191   13.453925   77.107594   45.280759
192   14.105618   77.759287   45.932453
193   64.562072  128.215741   96.388907
194   97.062652  160.716321  128.889486
195  118.121417  181.775086  149.948252
196  144.592750  208.246419  176.419585
197   62.750985  126.404654   94.577819
198  101.541915  165.195584  133.368750
199   69.967503  133.621172  101.794338