# Contents:

I. [Loading the Data:](#Loading-the-Data:)

II. [Helper functions to prepare the data:](#Helper-functions-to-prepare-the-data:)

III. [Test Inference:](#Test-Inference:)

## Loading the Data:

([Contents:](#Contents:))

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

import matplotlib.pyplot as plt
import seaborn as sns

import os
import time 
import re

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn import metrics

from scipy import stats

import requests
import pickle
import joblib

import re
from wordcloud import WordCloud
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from collections import Counter

import warnings
warnings.filterwarnings('ignore')

## Helper functions to prepare the data:

([Contents:](#Contents:))

In [3]:
# average propery area (feature cleaning)
def avg_property_area(x):
    numbers = re.compile(r"[-+]?(\d*\.\d+|\d+)") 
    x = numbers.findall(x)
    if len(x) == 1:
        return np.float(x[0])
    elif len(x) == 2:
        return (np.float(x[0])+np.float(x[1]))/2
    else:
        return -99
    
# Outlier treatment
def clip_outliers(df,col):
    q_l = df[col].quantile(0.25)
    q_h = df[col].quantile(0.95)
    df[col] = df[col].clip(lower = q_l, upper = q_h)
    return df    

# Text cleaning
# Preprocessing the text data
REPLACE_BY_SPACE_RE = re.compile("[/(){}\[\]\|@,;!]")
BAD_SYMBOLS_RE = re.compile("[^0-9a-z #+_]")
STOPWORDS_nlp = set(stopwords.words('english'))

#Custom Stoplist
stoplist = ["i","project","living","home",'apartment',"pune","me","my","myself","we","our","ours","ourselves","you","you're","you've","you'll","you'd","your",
            "yours","yourself","yourselves","he","him","his","himself","she","she's","her","hers","herself","it",
            "it's","its","itself","they","them","their","theirs","themselves","what","which","who","whom","this","that","that'll",
            "these","those","am","is","are","was","were","be","been","being","have","has","had","having","do","does","did",
            "doing","a","an","the","and","but","if","or","because","as","until","while","of","at","by","for","with","about",
            "against","between","into","through","during","before","after","above","below","to","from","up","down","in","out",
            "on","off","over","under","again","further","then","once","here","there","when","where","why","all","any",
            "both","each","few","more","most","other","some","such","no","nor","not","only","own","same","so","than","too",
            "very","s","t","can","will","just","don","don't","should","should've","now","d","ll","m","o","re","ve","y","ain",
            "aren","couldn","didn","doesn","hadn","hasn",
            "haven","isn","ma","mightn","mustn","needn","shan","shan't",
            "shouldn","wasn","weren","won","rt","rt","qt","for",
            "the","with","in","of","and","its","it","this","i","have","has","would","could","you","a","an",
            "be","am","can","edushopper","will","to","on","is","by","ive","im","your","we","are","at","as","any","ebay","thank","hello","know",
            "need","want","look","hi","sorry","http", "https","body","dear","hello","hi","thanks","sir","tomorrow","sent","send","see","there","welcome","what","well","us"]

STOPWORDS_nlp.update(stoplist)

# Function to preprocess the text
def text_prepare(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = text.replace("\d+"," ") # removing digits
    text = re.sub(r"(?:\@|https?\://)\S+", "", text) #removing mentions and urls
    text = text.lower() # lowercase text
    text =  re.sub('[0-9]+', '', text)
    text = REPLACE_BY_SPACE_RE.sub(" ", text) # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = BAD_SYMBOLS_RE.sub(" ", text) # delete symbols which are in BAD_SYMBOLS_RE from text
    text = ' '.join([word for word in text.split() if word not in STOPWORDS_nlp]) # delete stopwors from text
    text = text.strip()
    return text

# Pos counter
def pos_counter(x,pos):
    """
    Returns the count for the given parts of speech tag
    
    NN - Noun
    VB - Verb
    JJ - Adjective
    RB - Adverb
    """
    tokens = nltk.word_tokenize(x.lower())
    tokens = [word for word in tokens if word not in STOPWORDS_nlp]
    text = nltk.Text(tokens)
    tags = nltk.pos_tag(text)
    counts = Counter(tag for word,tag in tags)
    return counts[pos]

In [4]:
def preprocess(df):
    # Extracting State and Country separately from the Location Column
    df['City'] = df['Location'].apply(lambda x: x.split(',')[0].lower().strip())
    df['State'] = df['Location'].apply(lambda x: x.split(',')[1].lower().strip())
    df['Country'] = df['Location'].apply(lambda x: x.split(',')[2].lower().strip())
    
    # Regex to match the numbers and create a separate column
    numbers = re.compile(r"[-+]?(\d*\.\d+|\d+)") 
    df['Property Type Cleaned'] = df['Propert Type'].apply(lambda x: numbers.findall(x)[0] 
                                                           if len(numbers.findall(x)) > 0 else 0)
    
    # Cleaning the text columns
    df['Sub-Area Cleaned'] = df['Sub-Area'].apply(lambda x: x.lower().strip())
    df['Company Name Cleaned'] = df['Company Name'].apply(lambda x: x.lower().strip())
    df['TownShip Name/ Society Name Cleaned'] = df['TownShip Name/ Society Name'].apply(lambda x: x.lower().strip())
    df['Description Cleaned'] = df['Description'].apply(lambda x: x.lower().strip())
    
    
    # Cleaning and encoding Binary Features
    df['ClubHouse Cleaned'] = (df['ClubHouse'].apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['School / University in Township Cleaned'] = (df['School / University in Township ']
                                                         .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Hospital in TownShip Cleaned'] = (df['Hospital in TownShip']
                                                         .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Mall in TownShip Cleaned'] = (df['Mall in TownShip']
                                                         .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Park / Jogging track Cleaned'] = (df['Park / Jogging track']
                                                         .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Swimming Pool Cleaned'] = (df['Swimming Pool']
                                                     .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Gym Cleaned'] = (df['Gym']
                                 .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0})) 
    
    

    # Cleaning numerical columns
    numbers = re.compile(r"[-+]?(\d*\.\d+|\d+)")     
    df['Property Area in Sq. Ft. Cleaned'] = df['Property Area in Sq. Ft.'].apply(lambda x: avg_property_area(str(x)))
#     df['Price in lakhs Cleaned'] = (df['Price in lakhs'].apply(lambda x: np.float(numbers.findall(str(x))[0]) 
#                                                                if len(numbers.findall(str(x)))>0 else np.nan ))
    
    # Selecting the requried columns
    features = df.columns.tolist()[18:]
    df1 = df[features]
    df_final = df1.dropna()
    
    return df_final

In [5]:
def create_features(df):
    # outlier treatment
    # Treating outliers in the numeric columns
    cols_to_treat = ['Property Area in Sq. Ft. Cleaned']
    
    for col in cols_to_treat:
        df = clip_outliers(df,col)
    
    # creating the price by sub-area feature
    fileName = '../model/sub_area_price_map.pkl'
    with open(fileName,'rb') as f:
        sub_area_price_map = pickle.load(f)    
    df['Price by sub-area'] =  df['Sub-Area Cleaned'].map(sub_area_price_map)
    
    # Adding the amenitites score feature
    amenities_col = ['ClubHouse Cleaned',
                     'School / University in Township Cleaned',
                     'Hospital in TownShip Cleaned',
                     'Mall in TownShip Cleaned',
                     'Park / Jogging track Cleaned',
                     'Swimming Pool Cleaned',
                     'Gym Cleaned']
    temp = df[amenities_col]
    temp['Amenities score'] = temp.sum(axis=1)
    df['Amenities score'] = temp['Amenities score']
    
    # creating the price by amenities score feature
    fileName = '../model/amenities_score_price_map.pkl'
    with open(fileName,'rb') as f:
        amenities_score_price_map = pickle.load(f)  
        
    df['Price by Amenities score'] =  df['Amenities score'].map(amenities_score_price_map)
    
    # cleaning the description column and creating pos features
    df["Description Cleaned"] =  df["Description Cleaned"].astype(str).apply(text_prepare)
    df['Noun_Counts'] = df['Description Cleaned'].apply(lambda x: pos_counter(x,'NN'))
    df['Verb_Counts'] = df['Description Cleaned'].apply(lambda x: (pos_counter(x,'VB')+pos_counter(x,'RB')))
    df['Adjective_Counts'] = df['Description Cleaned'].apply(lambda x: pos_counter(x,'JJ'))
    
    # Ngram features
    fileName = '../model/count_vectorizer.pkl'
    with open(fileName,'rb') as f:
        cv_object = pickle.load(f)
    
    X = cv_object.transform(df['Description Cleaned'])
    df_ngram = pd.DataFrame(X.toarray(),columns=cv_object.get_feature_names())
    
    # Adding this to the main dataframe
    df_final = pd.concat([df.reset_index(drop=True),df_ngram.reset_index(drop=True)],axis=1)
    
    # selecting the final model ready features
    fileName = '../model/raw_features_mapping.pkl'
    with open(fileName,'rb') as f:
        feature_mapping = pickle.load(f)   
        
    fileName = '../model/features.pkl'
    with open(fileName,'rb') as f:
        feature_list = pickle.load(f)           
    
    # Removing price column as it is not available in test data
    feature_list.remove('Price_in_lakhs')

    df_final = df_final.rename(columns=feature_mapping)
    df_final = df_final[feature_list]
    
    return df_final

## Test Inference:

([Contents:](#Contents:))

In [6]:
# Loading the data
data= pd.read_excel(r'../data/Pune Real Estate Data.xlsx')
data = data.drop(['Price in Millions','Price in lakhs'],axis=1)
print(data.shape)
data.head()

(200, 16)

,Sr. No.,Location,Sub-Area,Propert Type,Property Area in Sq. Ft.,Company Name,TownShip Name/ Society Name,Total TownShip Area in Acres,ClubHouse,School / University in Township,Hospital in TownShip,Mall in TownShip,Park / Jogging track,Swimming Pool,Gym,Description
0,1,"Pune, Maharashtra, India",Bavdhan,1 BHK,492,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Shapoorji Paloonji comunity located in the sub...
1,2,"Pune, Maharashtra, India",Bavdhan,2 BHK,774,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Vanaha Township located near the lonavala hill...
2,3,"Pune, Maharashtra, India",Bavdhan,3 BHK,889,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Vanaha Society is suitable for all aged group ...
3,4,"Pune, Maharashtra, India",Bavdhan,3 BHK Grand,1018,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Vanaha township are offering 3BHK grand prpoer...
4,5,"Pune, Maharashtra, India",Mahalunge,2BHK,743,Godrej Properties,Godrej Hills retreat,100.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,The area is a hub of prestigious schools like ...

In [7]:
df_preprocess = preprocess(data)

In [8]:
print(df_preprocess.shape)
df_preprocess.head()

(200, 14)

,Country,Property Type Cleaned,Sub-Area Cleaned,Company Name Cleaned,TownShip Name/ Society Name Cleaned,Description Cleaned,ClubHouse Cleaned,School / University in Township Cleaned,Hospital in TownShip Cleaned,Mall in TownShip Cleaned,Park / Jogging track Cleaned,Swimming Pool Cleaned,Gym Cleaned,Property Area in Sq. Ft. Cleaned
0,india,1,bavdhan,shapoorji paloonji,vanaha,shapoorji paloonji comunity located in the sub...,1,1,1,1,1,1,1,492.0
1,india,2,bavdhan,shapoorji paloonji,vanaha,vanaha township located near the lonavala hill...,1,1,1,1,1,1,1,774.0
2,india,3,bavdhan,shapoorji paloonji,vanaha,vanaha society is suitable for all aged group ...,1,1,1,1,1,1,1,889.0
3,india,3,bavdhan,shapoorji paloonji,vanaha,vanaha township are offering 3bhk grand prpoer...,1,1,1,1,1,1,1,1018.0
4,india,2,mahalunge,godrej properties,godrej hills retreat,the area is a hub of prestigious schools like ...,1,1,1,1,1,1,1,743.0

In [9]:
df_features = create_features(df_preprocess)

In [10]:
print(df_features.shape)
df_features.head()

(200, 25)

,PropertyType,ClubHouse,School_University_in_Township,Hospital_in_TownShip,Mall_in_TownShip,Park_Jogging_track,Swimming_Pool,Gym,Property_Area_in_Sq_Ft,Price_by_sub_area,Amenities_score,Price_by_Amenities_score,Noun_Counts,Verb_Counts,Adjective_Counts,boasts_elegant,elegant_towers,every_day,great_community,mantra_gold,offering_bedroom,quality_specification,stories_offering,towers_stories,world_class
0,1,1,1,1,1,1,1,1,670.0,58.044000,7,72.666667,9,1,3,0,0,0,0,0,0,0,0,0,0
1,2,1,1,1,1,1,1,1,774.0,58.044000,7,72.666667,9,1,3,0,0,0,0,0,0,0,0,0,0
2,3,1,1,1,1,1,1,1,889.0,58.044000,7,72.666667,9,1,3,0,0,0,0,0,0,0,0,0,0
3,3,1,1,1,1,1,1,1,1018.0,58.044000,7,72.666667,8,1,3,0,0,0,0,0,0,0,0,0,0
4,2,1,1,1,1,1,1,1,743.0,73.555556,7,72.666667,12,1,6,0,0,0,0,0,0,0,0,0,0

In [11]:
columns = df_features.columns.tolist()
columns[:5]

['PropertyType',
 'ClubHouse',
 'School_University_in_Township',
 'Hospital_in_TownShip',
 'Mall_in_TownShip']

In [12]:
payload = df_features.iloc[3].to_dict()
print(payload)

import json
payload = json.dumps(payload)

{'PropertyType': '3', 'ClubHouse': 1, 'School_University_in_Township': 1, 'Hospital_in_TownShip': 1, 'Mall_in_TownShip': 1, 'Park_Jogging_track': 1, 'Swimming_Pool': 1, 'Gym': 1, 'Property_Area_in_Sq_Ft': 1018.0, 'Price_by_sub_area': 58.044000000000004, 'Amenities_score': 7, 'Price_by_Amenities_score': 72.66666666666667, 'Noun_Counts': 8, 'Verb_Counts': 1, 'Adjective_Counts': 3, 'boasts_elegant': 0, 'elegant_towers': 0, 'every_day': 0, 'great_community': 0, 'mantra_gold': 0, 'offering_bedroom': 0, 'quality_specification': 0, 'stories_offering': 0, 'towers_stories': 0, 'world_class': 0}

In [13]:
payload

'{"PropertyType": "3", "ClubHouse": 1, "School_University_in_Township": 1, "Hospital_in_TownShip": 1, "Mall_in_TownShip": 1, "Park_Jogging_track": 1, "Swimming_Pool": 1, "Gym": 1, "Property_Area_in_Sq_Ft": 1018.0, "Price_by_sub_area": 58.044000000000004, "Amenities_score": 7, "Price_by_Amenities_score": 72.66666666666667, "Noun_Counts": 8, "Verb_Counts": 1, "Adjective_Counts": 3, "boasts_elegant": 0, "elegant_towers": 0, "every_day": 0, "great_community": 0, "mantra_gold": 0, "offering_bedroom": 0, "quality_specification": 0, "stories_offering": 0, "towers_stories": 0, "world_class": 0}'

In [15]:
payload = df_features.iloc[3].to_dict()
payload = json.dumps(payload)

out =  requests.post(url='https://property-price-prediction-live.herokuapp.com/predict',
                data=payload)

In [17]:
out.text

'"[85.55245708]"'

In [18]:
output = []
for i in range(len(df_features)):
    payload = df_features.iloc[i].to_dict()
    payload = json.dumps(payload)
    
    out =  requests.post(url='https://property-price-prediction-live.herokuapp.com/predict',
                    data=payload)
    result = np.float(re.sub('[^A-Za-z0-9.]+', '', out.text))  
    output.append(result)

In [19]:
output

[41.73696173,
 57.70878214,
 74.58849812,
 85.55245708,
 66.79123803,
 84.59893199,
 77.58387601,
 108.08202563,
 78.31246201,
 109.49538581,
 159.02795156,
 176.72095654,
 173.54942421,
 82.00752925,
 117.82456463,
 50.16475948,
 57.88428824,
 78.9814689,
 52.25131206,
 69.78252474,
 74.65596758,
 103.88683745,
 38.42625687,
 62.09826553,
 52.03298601,
 56.40783384,
 67.41405046,
 88.43816135,
 71.24488624,
 73.88559514,
 83.5413806,
 84.88514865,
 103.69906684,
 102.73270284,
 115.79059498,
 61.65819144,
 106.11006441,
 85.12533828,
 119.20655531,
 42.42685481,
 74.44549785,
 143.70664028,
 30.60526415,
 37.09829273,
 41.58737394,
 84.35442336,
 87.25034988,
 115.1414081,
 108.97816538,
 123.16008436,
 168.24028739,
 42.78230266,
 51.58478583,
 55.31215201,
 65.11059206,
 60.00438345,
 48.02535026,
 58.46073342,
 64.29291026,
 56.84451424,
 86.81352401,
 42.71811613,
 53.57938083,
 71.38925869,
 68.10531012,
 89.62387405,
 80.54255645,
 197.05566945,
 205.07738973,
 71.48847137,
 75.05281224,
 67.92251067,
 71.22784614,
 101.28421093,
 97.91478902,
 49.23576417,
 58.60006222,
 65.3664302,
 101.09957392,
 70.87159861,
 92.71341694,
 100.48727187,
 36.69869583,
 41.03465445,
 57.51660476,
 129.13718503,
 104.83352665,
 56.75316133,
 54.09052667,
 53.94864742,
 52.71788425,
 54.93088066,
 146.80395835,
 150.76902544,
 157.87531641,
 171.5049169,
 183.84586792,
 185.12376846,
 62.55451918,
 80.37181293,
 87.30667776,
 88.7500674,
 114.640794,
 118.44516635,
 133.81588186,
 127.71115809,
 49.82525388,
 53.14347139,
 41.20612597,
 49.22784625,
 48.46613121,
 46.9374395,
 47.70178535,
 66.77560635,
 99.51329788,
 99.70017813,
 104.65717531,
 132.72136845,
 143.7201671,
 68.41349878,
 88.23540434,
 78.26106163,
 91.74211539,
 73.18102361,
 70.63350617,
 75.08392027,
 101.05814246,
 125.71331074,
 156.24097255,
 71.43341516,
 69.13488019,
 167.61816787,
 54.22598083,
 56.35135397,
 64.0215926,
 94.95151303,
 91.56234778,
 103.14495223,
 131.90369062,
 127.45788438,
 135.68750111,
 55.67023468,
 64.32300233,
 67.35364023,
 88.65141817,
 114.40368235,
 69.90436277,
 72.55624494,
 80.29494719,
 60.9975328,
 60.75338006,
 50.1791389,
 52.74940714,
 77.94342646,
 80.01454362,
 41.1530909,
 46.20715611,
 62.4600622,
 92.84558114,
 98.57878141,
 99.41249173,
 46.08904073,
 58.6665271,
 44.35111629,
 52.34644905,
 77.60267242,
 81.69295392,
 187.28655776,
 198.69252434,
 58.78858096,
 81.14446886,
 69.90355545,
 98.97195233,
 63.77388586,
 47.40959022,
 43.85190372,
 45.8836447,
 44.48565898,
 56.04043329,
 64.54846529,
 71.17383046,
 70.0195556,
 146.2206095,
 180.58348317,
 188.66061143,
 42.61885174,
 42.22194663,
 44.01420666,
 56.18647377,
 52.29733891,
 46.37657846,
 28.58833713,
 28.94623141,
 95.06760564,
 127.56818526,
 148.62695073,
 175.0982834,
 92.96271884,
 131.75364959,
 100.47303675]

In [59]:
# data= pd.read_excel(r'../data/Pune Real Estate Data.xlsx')
# data.head()

In [20]:
def get_prediction_interval(interval_estimate, prediction):
    '''
    Get a prediction interval for a linear regression model.
    
    INPUTS: 
        - interval_estimate based on the final model's performance on the training data 
        - predicted values for the test data,
        - Prediction interval threshold (default = .95) 
    OUTPUT: 
        - Prediction interval for single test prediction
    '''
    
    #generate prediction interval lower and upper bound cs_24
    lower, upper = prediction - interval_estimate, prediction + interval_estimate
    return lower, upper

In [21]:
import pickle
fileName = '../model/interval_est.pkl'
with open(fileName,'rb') as f:
    interval = pickle.load(f)

interval

31.82683446043292

In [22]:
# getting prediction intervals for the test data
lower_vet = []
upper_vet = []

for out in output:
    lower, upper =  get_prediction_interval(interval,out)
    lower_vet.append(lower)
    upper_vet.append(upper)

In [23]:
pd.DataFrame(zip(lower_vet,upper_vet,output),columns=['lower','upper','mean'])

          lower       upper        mean
0      9.910127   73.563796   41.736962
1     25.881948   89.535617   57.708782
2     42.761664  106.415333   74.588498
3     53.725623  117.379292   85.552457
4     34.964404   98.618072   66.791238
5     52.772098  116.425766   84.598932
6     45.757042  109.410710   77.583876
7     76.255191  139.908860  108.082026
8     46.485628  110.139296   78.312462
9     77.668551  141.322220  109.495386
10   127.201117  190.854786  159.027952
11   144.894122  208.547791  176.720957
12   141.722590  205.376259  173.549424
13    50.180695  113.834364   82.007529
14    85.997730  149.651399  117.824565
15    18.337925   81.991594   50.164759
16    26.057454   89.711123   57.884288
17    47.154634  110.808303   78.981469
18    20.424478   84.078147   52.251312
19    37.955690  101.609359   69.782525
20    42.829133  106.482802   74.655968
21    72.060003  135.713672  103.886837
22     6.599422   70.253091   38.426257
23    30.271431   93.925100   62.098266
24    20.206152   83.859820   52.032986
25    24.580999   88.234668   56.407834
26    35.587216   99.240885   67.414050
27    56.611327  120.264996   88.438161
28    39.418052  103.071721   71.244886
29    42.058761  105.712430   73.885595
30    51.714546  115.368215   83.541381
31    53.058314  116.711983   84.885149
32    71.872232  135.525901  103.699067
33    70.905868  134.559537  102.732703
34    83.963761  147.617429  115.790595
35    29.831357   93.485026   61.658191
36    74.283230  137.936899  106.110064
37    53.298504  116.952173   85.125338
38    87.379721  151.033390  119.206555
39    10.600020   74.253689   42.426855
40    42.618663  106.272332   74.445498
41   111.879806  175.533475  143.706640
42    -1.221570   62.432099   30.605264
43     5.271458   68.925127   37.098293
44     9.760539   73.414208   41.587374
45    52.527589  116.181258   84.354423
46    55.423515  119.077184   87.250350
47    83.314574  146.968243  115.141408
48    77.151331  140.805000  108.978165
49    91.333250  154.986919  123.160084
50   136.413453  200.067122  168.240287
51    10.955468   74.609137   42.782303
52    19.757951   83.411620   51.584786
53    23.485318   87.138986   55.312152
54    33.283758   96.937427   65.110592
55    28.177549   91.831218   60.004383
56    16.198516   79.852185   48.025350
57    26.633899   90.287568   58.460733
58    32.466076   96.119745   64.292910
59    25.017680   88.671349   56.844514
60    54.986690  118.640358   86.813524
61    10.891282   74.544951   42.718116
62    21.752546   85.406215   53.579381
63    39.562424  103.216093   71.389259
64    36.278476   99.932145   68.105310
65    57.797040  121.450709   89.623874
66    48.715722  112.369391   80.542556
67   165.228835  228.882504  197.055669
68   173.250555  236.904224  205.077390
69    39.661637  103.315306   71.488471
70    43.225978  106.879647   75.052812
71    36.095676   99.749345   67.922511
72    39.401012  103.054681   71.227846
73    69.457376  133.111045  101.284211
74    66.087955  129.741623   97.914789
75    17.408930   81.062599   49.235764
76    26.773228   90.426897   58.600062
77    33.539596   97.193265   65.366430
78    69.272739  132.926408  101.099574
79    39.044764  102.698433   70.871599
80    60.886582  124.540251   92.713417
81    68.660437  132.314106  100.487272
82     4.871861   68.525530   36.698696
83     9.207820   72.861489   41.034654
84    25.689770   89.343439   57.516605
85    97.310351  160.964019  129.137185
86    73.006692  136.660361  104.833527
87    24.926327   88.579996   56.753161
88    22.263692   85.917361   54.090527
89    22.121813   85.775482   53.948647
90    20.891050   84.544719   52.717884
91    23.104046   86.757715   54.930881
92   114.977124  178.630793  146.803958
93   118.942191  182.595860  150.769025
94   126.048482  189.702151  157.875316
95   139.678082  203.331751  171.504917
96   152.019033  215.672702  183.845868
97   153.296934  216.950603  185.123768
98    30.727685   94.381354   62.554519
99    48.544978  112.198647   80.371813
100   55.479843  119.133512   87.306678
101   56.923233  120.576902   88.750067
102   82.813960  146.467628  114.640794
103   86.618332  150.272001  118.445166
104  101.989047  165.642716  133.815882
105   95.884324  159.537993  127.711158
106   17.998419   81.652088   49.825254
107   21.316637   84.970306   53.143471
108    9.379292   73.032960   41.206126
109   17.401012   81.054681   49.227846
110   16.639297   80.292966   48.466131
111   15.110605   78.764274   46.937440
112   15.874951   79.528620   47.701785
113   34.948772   98.602441   66.775606
114   67.686463  131.340132   99.513298
115   67.873344  131.527013   99.700178
116   72.830341  136.484010  104.657175
117  100.894534  164.548203  132.721368
118  111.893333  175.547002  143.720167
119   36.586664  100.240333   68.413499
120   56.408570  120.062239   88.235404
121   46.434227  110.087896   78.261062
122   59.915281  123.568950   91.742115
123   41.354189  105.007858   73.181024
124   38.806672  102.460341   70.633506
125   43.257086  106.910755   75.083920
126   69.231308  132.884977  101.058142
127   93.886476  157.540145  125.713311
128  124.414138  188.067807  156.240973
129   39.606581  103.260250   71.433415
130   37.308046  100.961715   69.134880
131  135.791333  199.445002  167.618168
132   22.399146   86.052815   54.225981
133   24.524520   88.178188   56.351354
134   32.194758   95.848427   64.021593
135   63.124679  126.778347   94.951513
136   59.735513  123.389182   91.562348
137   71.318118  134.971787  103.144952
138  100.076856  163.730525  131.903691
139   95.631050  159.284719  127.457884
140  103.860667  167.514336  135.687501
141   23.843400   87.497069   55.670235
142   32.496168   96.149837   64.323002
143   35.526806   99.180475   67.353640
144   56.824584  120.478253   88.651418
145   82.576848  146.230517  114.403682
146   38.077528  101.731197   69.904363
147   40.729410  104.383079   72.556245
148   48.468113  112.121782   80.294947
149   29.170698   92.824367   60.997533
150   28.926546   92.580215   60.753380
151   18.352304   82.005973   50.179139
152   20.922573   84.576242   52.749407
153   46.116592  109.770261   77.943426
154   48.187709  111.841378   80.014544
155    9.326256   72.979925   41.153091
156   14.380322   78.033991   46.207156
157   30.633228   94.286897   62.460062
158   61.018747  124.672416   92.845581
159   66.751947  130.405616   98.578781
160   67.585657  131.239326   99.412492
161   14.262206   77.915875   46.089041
162   26.839693   90.493362   58.666527
163   12.524282   76.177951   44.351116
164   20.519615   84.173284   52.346449
165   45.775838  109.429507   77.602672
166   49.866119  113.519788   81.692954
167  155.459723  219.113392  187.286558
168  166.865690  230.519359  198.692524
169   26.961746   90.615415   58.788581
170   49.317634  112.971303   81.144469
171   38.076721  101.730390   69.903555
172   67.145118  130.798787   98.971952
173   31.947051   95.600720   63.773886
174   15.582756   79.236425   47.409590
175   12.025069   75.678738   43.851904
176   14.056810   77.710479   45.883645
177   12.658825   76.312493   44.485659
178   24.213599   87.867268   56.040433
179   32.721631   96.375300   64.548465
180   39.346996  103.000665   71.173830
181   38.192721  101.846390   70.019556
182  114.393775  178.047444  146.220609
183  148.756649  212.410318  180.583483
184  156.833777  220.487446  188.660611
185   10.792017   74.445686   42.618852
186   10.395112   74.048781   42.221947
187   12.187372   75.841041   44.014207
188   24.359639   88.013308   56.186474
189   20.470504   84.124173   52.297339
190   14.549744   78.203413   46.376578
191   -3.238497   60.415172   28.588337
192   -2.880603   60.773066   28.946231
193   63.240771  126.894440   95.067606
194   95.741351  159.395020  127.568185
195  116.800116  180.453785  148.626951
196  143.271449  206.925118  175.098283
197   61.135884  124.789553   92.962719
198   99.926815  163.580484  131.753650
199   68.646202  132.299871  100.473037